*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    background-color: brown;
    text-align: center;
    color: rgb(240, 243, 245);
}
p{
   font-size: large;
   

}
